<ion-view view-title="新建圈子 - 圈子 - 悦圈子"> 

	<!-- 顶部导航条 -->
	<div class="bar bar-header">
		<div class="buttons">
			<a ng-click="$back()" class="button icon ion-ios-arrow-back"></a>
		</div>
		<h1 class="title">新建圈子</h1>
	</div>
	<!-- 中部内容 --> 
	<ion-content class="has-header">
	
		<form class="list" ng-submit="f.find()">

			<div class="item item-input-inset">
				<label class="item-input-wrapper"> <input type="text" ng-model="v.circle.name"
					placeholder="请输入圈子名称">
				</label>
				<button type="submit" class="button button-small">新建</button>
			</div>
		
			<div class="item">
				<a href="#/circle/add/step2/{{v.circle.name}}" class="button button-full button-positive">下一步</a>
			</div>
		
		</form>
		
	</ion-content>
	
</ion-view>