<ion-view view-title="第三步 - 邀请 - 圈子 - 悦圈子"> 

	<!-- 顶部导航条 -->
	<div class="bar bar-header">
		<div class="buttons">
			<a ng-click="$back()" class="button icon ion-ios-arrow-back"></a>
		</div>
		<h1 class="title">邀请人员 - 第三步</h1>
	</div>
	<!-- 中部内容 --> 
	<ion-content class="has-header">
		<form class="list" ng-submit="f.inviteUser()">
			<div class="item item-divider">
				请邀请圈内朋友，至少俩人
			</div>
			<label class="item item-input">
				<span class="input-label">电话号码</span>
			    <input ng-model="v.invite.tel" title="电话号码"  type="tel" required="required" validate>
			</label>
			<label class="item item-input">
				<span class="input-label">真实姓名</span>
			    <input ng-model="v.invite.realName" title="真实姓名"  type="text" required="required" validate>
			</label>
			<div class="item">
				<button type="submit" class="button button-full button-positive">邀请</button>
			</div>
			<div class="item item-divider">
				已邀请人员列表
			</div>
			<div ng-repeat="u in v.circle.users" class="item item-avatar item-button-right"> 
				<img src="app/mo/theme/image/avator.png">
				<h2>{{u.realName}}</h2>
				<p>{{u.tel}}</p>
				<button ng-click="f.deleteUser($index)" class="button button-assertive button-clear">
			      <i class="icon ion-ios-close"></i>
			    </button>
			</div>
			<div ng-if="v.circle.users.length>=2" class="item">
				<button ng-click="f.activeCircle()" type="button" class="button button-full button-positive">完成</button>
			</div>
		</form>
		
	</ion-content>
	
</ion-view>