<ion-view view-title="圈子 - 悦圈子"> 

	<!-- 顶部导航条 -->
	<div class="bar bar-header">
		<h1 class="title">圈子</h1>
		<a class="button icon ion-ios-plus-empty" href="#/circle/add/step1"></a>
	</div>
	<div class="bar bar-subheader item-input-inset">
		<label class="item-input-wrapper"> 
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="请输入关键字"  ng-change="doSearch()" ng-model="data.search.keywords">
		</label>
		<button class="button" ng-click="doSearch()">搜索</button>
	</div>
	<!-- 中部内容 --> 
	<ion-content class="has-subheader">
		
		<div class="item button-bar">
			<a ng-click="f.setOwn(false)" class="button button-small {{v.example.own?'':'button-dark'}}">所有圈子</a>
			<a ng-click="f.setOwn(true)" class="button button-small {{!v.example.own?'':'button-dark'}}">我的圈子</a>
		</div>
		
	
		<div ng-repeat="circle in v.circles" class="list card">
			<div class="item item-avatar item-button-right">
				<img src="app/mo/theme/image/avator.png">
				<h2>{{circle.name}}</h2>
				<p>{{circle.birthday}}</p>
				<button ng-if="!circle.own" ng-click="f.joinCircle($index)" class="button button-balanced button-clear">
			      <i class="icon ion-ios-plus"></i>
			    </button>
			</div>
		
			<div class="item item-body">
				<ion-slide-box>
					<ion-slide ng-repeat="avatar in circle.avatars">
						<div class="box">
							<img class="full-image" src="{{avatar}}?img:{width:1024,height:1024}">
						</div>
					</ion-slide>
				</ion-slide-box>
				<p>{{circle.description}}</p>
				<p>
					<a href="#" class="subdued">1活动</a> <a href="#" class="subdued">5话题</a>
				</p>
			</div>
			
			<div ng-if="circle.own" class="item button-bar">
				<a href="#/circle/meetup/add/step1/{{circle.id}}" class="button button-balanced">发起活动</a>
				<a class="button button-energized">发起话题</a>
			</div>
		</div>
		
	</ion-content>
</ion-view>