<ion-view view-title="新建活动 - 活动 - 悦活动"> 

	<!-- 顶部导航条 -->
	<div class="bar bar-header">
		<div class="buttons">
			<a ng-click="$back()" class="button icon ion-ios-arrow-back"></a>
		</div>
		<h1 class="title">新建活动</h1>
	</div>
	<!-- 中部内容 --> 
	<ion-content class="has-header">
	
		<form class="list" ng-submit="f.saveMeetup()">
			<div class="item item-divider">
				信息
			</div>
			<label class="item item-input">
				<span class="input-label">名称</span>
			    <input ng-model="v.meetup.title" title="活动名称"  type="text" required="required" validate>
			</label>
			<label class="item item-input">
				<span class="input-label">热词</span>
			    <input ng-model="v.meetup.keywords" title="活动名称"  type="text" placeholder="请输入活动热词，如：美女，帅哥" required="required" validate>
			</label>
			<label class="item item-input">
				<span class="input-label">活动时间</span>
			    <input ng-model="v.meetup.time" title="活动时间"  type="datetime-local" placeholder="请输入活动时间" required="required" validate>
			</label>
			<div class="item item-divider">
				集合地点
			</div>
			<label class="item item-input item-select">
				<span class="input-label">省</span>
			    <select ng-model="v.meetup.address.provinceCode" ng-change="f.changeArea(v.meetup.address.provinceCode,v.address.cities,v.address.regions)">
						<option ng-repeat="area in v.address.provinces" value="{{area.code}}">{{area.name}}</option>
				</select>
			</label>
			<label class="item item-input item-select">
				<span class="input-label">市</span>
				<select ng-model="v.meetup.address.cityCode"  ng-change="f.changeArea(v.meetup.address.cityCode,v.address.regions)">
						<option ng-repeat="area in v.address.cities" value="{{area.code}}">{{area.name}}</option>
				</select>
			</label>
			<label class="item item-input item-select">
				<span class="input-label">区</span>
			    <select ng-model="v.meetup.address.regionCode">
						<option ng-repeat="area in v.address.regions" value="{{area.code}}">{{area.name}}</option>
				</select>
			</label>
			<label class="item item-input">
				<span class="input-label">地点</span>
			    <input ng-model="v.meetup.address.address" title="活动总部地点"  type="text" placeholder="请输入活动总部详细地点" required="required" validate>
			</label>
			
			<div class="item item-divider">
				介绍
			</div>
			<label class="item item-input">
    			<textarea ng-model="v.meetup.description" rows="10" placeholder="请输入引人注目且准确描述本活动的内容"></textarea>
  			</label>
			<div class="item item-divider">
				图片：至少一张，首张封面
			</div>
			<div align="center" class="item">
				<upload ng-repeat="avatar in v.meetup.avatars" url="common/upload" path="meetup" style="float:left;" done="f.uploadComplete(data,$index)">
					<img class="button button-outline" style="width: {{($width-32)/3}}px;" src="{{avatar+'?img:{width:'+$width/3+',height:'+$width/3+'}'}}" alt="点击上传图片"/>
				</upload>
				<upload url="common/upload" path="meetup" style="float:left;" done="f.uploadComplete(data)">
					<button class="button button-outline icon ion-ios-plus-empty" style="width: {{($width-32)/3}}px;height:{{($width-32)/3-24}}px;">
				</upload>
			</div>
			<div class="item">
				<button type="submit" class="button button-full button-positive">完成</button>
			</div>
		</form>
		
	</ion-content>
	
</ion-view>